$color-black: #29292c;
$color-white: #ffffff;
$color-auth-text: #f7f8fc;
$color-grey: #6f6b7d;
$color-light-grey: #adadad;
$color-green: #28c76f;
$color-red: #ea5455;
$color-purple: #ed1b23;
$color-yellow: #ff9f43;
$color-blue: #00cfe8;
$color-pink: #fde3fd;
$color-bg-grey: #f8f7fa;
$color-light-purple: #eae8fd;
$color-light-yellow: #fff1e3;
$color-light-red: #fce5e6;
$color-light-blue: #d9f8fc;
$color-dark: #212529;
$color-orange: #f15a29;
$color-pink: #ffcfbf;
$color-approve: #0ca509;
$auth-btn: #3f72af;
$theme-background-color: #f8fafc;
$theme-scroll-color: #0c1519;
$sidenav-active: #29292c;
$line-color: #f0f0f0;
$color-light-pink: #fff2f2;
$color-dark-pink: #ff1c3d;
$color-input-border: #e4e4e7;
$color-input-placeholder: #71717a;
$theme-background-color-auth: #f8fafc;
$theme-background-profile-color: #f2f2f252;
$theme-author-container-color: #F4F4F5; 
$theme-author-circle-color: #D9D9D9;
$theme-agency-container-color: #FF6868F5;
$theme-agency-button-color: #FF516A;