* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif !important;
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    overflow: hidden;

    // temp
    // justify-content: center;
    // display: flex;
    // align-items: center;
}

// ::-webkit-scrollbar {
//     width: 3px;
// }

// ::-webkit-scrollbar-track {
//     background: white;
// }

// ::-webkit-scrollbar-thumb {
//     background: $theme-scroll-color;
//     // width: 10px !important;
// }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

h1 {
    font-size: 38px;
    font-weight: 500;
}

h3 {
    font-size: 26px;
    font-weight: 500;
}

h4 {
    font-size: 22px;
    font-weight: 500;
}

h5 {
    font-size: 18px;
    font-weight: 400;
}

h6 {
    font-size: 15px;
    font-weight: 500;
}

p {
    font-size: 15px;
    font-weight: 400;
}

a {
    font-size: 15px;
}

span {
    font-size: 13px;
    font-weight: 400;
}

small {
    font-size: 11px;
    font-weight: 400;
}

.form-label,
label {
    font-size: 13px;
    font-weight: 400;
}

.form-check-label {
    font-size: 15px;
    font-weight: 400;
}

textarea,
input,
.form-control {
    font-size: 15px;
    font-weight: 400;
    resize: none;
}

button,
.btn {
    font-size: 15px;
    font-weight: 500;
}

.h-fit-content {
    height: fit-content !important;
}

a {
    text-decoration: none;
    color: unset;
}


ul {
    li {
        list-style: none;
    }
}

.validation-txt {
    text-align: start;
    justify-content: start;
    display: flex;
    margin-top: 2px;
    margin-bottom: 2px !important;
    margin-left: 10px;
}

p.fs-7,
ol.fs-7,
ul.fs-7,
h6.fs-7,
span.fs-7,
input.fs-7 {
    font-size: 0.875rem !important;
}

p.fs-75 {
    font-size: 0.78rem !important;
}

p.fs-8,
ol.fs-8,
ul.fs-8,
h6.fs-8,
span.fs-8 {
    font-size: 0.75rem !important;
}

p.fs-9,
ol.fs-9,
ul.fs-9,
span.fs-9 {
    font-size: 0.68rem !important;
}

p.fs-10,
ol.fs-10,
ul.fs-10 {
    font-size: 0.6rem !important;
}

.px-8 {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

p.link {
    color: #0aa7ff !important;
    cursor: pointer;
}

.lc-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.lc-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.w-85 {
    width: 85% !important;
}

.cursor {
    cursor: pointer;
}

.text-black {
    color: $color-black !important;
}

.text-white {
    color: $color-white;
}

.text-grey {
    color: $color-grey;
}

.text-light-grey {
    color: $color-light-grey;
}

.text-green {
    color: $color-green;
}

.text-red {
    color: $color-red;
}

.text-purple {
    color: $color-purple;
}

.text-orange {
    color: $color-orange;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.ls-1 {
    letter-spacing: 0.1px !important;
}

.ls-2 {
    letter-spacing: 0.2px !important;
}

.ls-3 {
    letter-spacing: 0.3px !important;
}

.ls-4 {
    letter-spacing: 0.4px !important;
}

.ls-5 {
    letter-spacing: 0.5px !important;
}

.ls-6 {
    letter-spacing: 0.6px !important;
}

.ls-7 {
    letter-spacing: 0.7px !important;
}

.ls-8 {
    letter-spacing: 0.8px !important;
}

.ls-9 {
    letter-spacing: 0.9px !important;
}

.border-right-grey {
    border-right: 1px solid #dddddd;
}

.center-text {
    text-align: center;
}

.text-green {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #51bc5c;
}

hr {
    opacity: 2 !important;
    width: 40% !important;
    color: #15b8fb !important;
    border-top: 2px solid !important;
}

.horizontol-line {
    width: 100%;
    border-top: 0.771517px solid rgba(81, 81, 81, 0.2);
}

a {
    text-decoration: none;
}

.flex-custom-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-custom-space-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-custom-space-start {
    display: flex;
    align-items: center;
}

.flex-custom-space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image-contain {
    object-fit: contain;
}

a {
    text-decoration: none !important;
}

.custom-test {
    flex-direction: column;
}

.horizotol-line {
    border: 0.5px solid #777777;
}

.mb-10 {
    margin-bottom: 10rem !important;
}

// .back-icon {
//     span {
//         @include back-icon
//     }
// }

@keyframes shimmer {
    0% {
        background-position: -200px 0;
    }

    100% {
        background-position: 200px 0;
    }
}

.skeleton {
    // background-color: #d3d3d3;
    // border-radius: 8px;
    display: flex;
    // animation: shimmer 1.5s infinite;
}

.skeleton>div {
    margin-bottom: 10px;
}

.devider {
    display: flex;
    justify-content: center;
    align-items: center;
}